*{
    box-sizing: border-box;
    margin: 0
}

:root{
    --p-size: 1vw;
    --text-color: #00897B; /*#B1B1B1 */
    --progress-color: #00897B;
}

body{
    display:grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #121212;
    grid-template-rows: 2fr auto 2fr;
    grid-gap: 20px;
}

.displays{
    grid-row: 2/3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the actual timer */
.timer{
    position: absolute;
}

h1{
    font-size: 5rem;
    font-weight: 500;
    color: var(--text-color);
}

/*control buttons*/
.controls{
    display: flex;
    position: absolute;
    top:70%;
    justify-content: space-evenly;
    width: 100px;
}


.control-button{
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
}
.control-button:hover{
    color: white;
}

.control-button:active{
    transform: scale(1.1);
}

.control-button.inProgress{
    cursor: default;
    color: var(--text-color);
}

.control-button.inProgress:active{
    transform: none;
}



/* the round circle progress bar */
.progress-bar{
    width: 40vw;
    height: 40vw;
    min-width: 250px;
    min-height: 250px;
    max-height: 500px;
    max-width: 500px;
    border: var(--progress-color) solid calc(var(--p-size)/3.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
}

/* the container of the progress ball */
.progress{
    width: calc(40vw + calc(var(--p-size)/1.5));
    height: calc(40vw + calc(var(--p-size)/1.5));
    min-width: calc(250px + calc(var(--p-size)/1.5));
    min-height: calc(250px + calc(var(--p-size)/1.5));
    max-height: calc(500px + calc(var(--p-size)/1.5));
    max-width: calc(500px + calc(var(--p-size)/1.5));
    display: flex;
    justify-content: center;
}

/* the actual progress ball */
.progress::before{
    content: '';
    width: var(--p-size);
    height: var(--p-size);
    max-width: 45px;
    max-height: 45px;
    background-color: var(--progress-color);
    position: absolute;
    border-radius: 50%;
}

.inputs{
    grid-row: 3/span 1;
    display: grid;
    align-self: start;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
}

.buttons{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    opacity: 1;
    transition: opacity 1s;
}

button{
    background: none;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 8px;
    cursor: pointer;
    outline: 0;
}

button:hover{
    background: #00897B;
    border: 2px solid white;
    color: white;
}

button:active{
    transform: scale(1.1);
}


.inputs>.buttons.hide{
    opacity: 0;
}

.inputs>.time-input{
    opacity: 1;
    transition: opacity 1s;
}

.inputs>.time-input.hide{
    opacity: 0;
}

#SetTimer{
    background: none;
    border: 2px solid var(--text-color);
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
    padding: 5px 7px;
    border-radius: 5px;
    text-align: center;
    outline: 0;
    width: 100px;
}

#SetTimer::placeholder{
    color: var(--text-color);
}

#SetTimer:focus::placeholder{
    color:transparent;
    
}