*{
    box-sizing: border-box;
    margin: 0
}

:root{
    --p-size: 1vw;
     --text-color: #00897B; /*#B1B1B1 */
    --progress-color: #00897B;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    background-color: #121212;
}

.timer{
    position: relative;
}

h1{
    font-size: 5rem;
    font-weight: 500;
    color: var(--text-color);
}

.progress-bar{
    width: 40vw;
    height: 40vw;
    min-width: 250px;
    min-height: 250px;
    max-height: 500px;
    max-width: 500px;
    border: var(--progress-color) solid calc(var(--p-size)/3.5);
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}

.progress{
    width: calc(40vw + calc(var(--p-size)/1.5));
    height: calc(40vw + calc(var(--p-size)/1.5));
    min-width: calc(250px + calc(var(--p-size)/1.5));
    min-height: calc(250px + calc(var(--p-size)/1.5));
    max-height: calc(500px + calc(var(--p-size)/1.5));
    max-width: calc(500px + calc(var(--p-size)/1.5));
    position: absolute;
    display: flex;
    justify-content: center;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.24, 0.11, 0.49, 0.43);
}

.progress::before{
    content: '';
    width: var(--p-size);
    height: var(--p-size);
    max-width: 45px;
    max-height: 45px;
    background-color: var(--progress-color);
    position: absolute;
    border-radius: 50%;
}